@import "reset.css";
@import "columns.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');



body {
 transition: background-color 300ms ease;

 background-color: #FFF;

 font-family: 'Playfair Display', serif;
 font-weight: 300;

 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 0 auto;

  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0;

  margin-top: -13px;

  border: 10px solid;
  border-color: #000000;
  background: #FFF;
}

nav ul {
  display: flex;
  flex-direction: row;

  width: 80%;
  height: 100px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}

.main_menu ul li a {
  text-decoration: none;

  color: #000000;

  font-family: Montserrat, sans-serif;
  font-size: 35px;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: line-through;
}

#sun,
#left,
#mid,
#right {
  transition: fill 300ms ease-out;
}

#left:hover,
#left.hovered {
  fill: #B94B10;
}
#mid:hover,
#mid.hovered {
  fill: #002C2D;
}

#right:hover,
#right.hovered {
  fill: #8D262F;
}

#sun:hover {
  fill: #F19720;
}

.main-width, .contacts_total_info {
  width: 89vw;
  margin-left: 6vw;
}


h2 {
  margin-top: 150px;
  margin-bottom: 65px;

  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 900;
}

p {
  font-size: 35px;
  line-height: 1.6;
}

.visit_the_web {
  position: relative;

  margin-top: 30px;

  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.visit_the_web::after {
  position: absolute;
  left: 17vw;

  content: url("../img/arrow.svg");
}

h3 {
  margin-bottom: 40px;

  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.readymag_pocket_total {
  position: relative;

  height: 550px;

  border: 12px solid;
  border-color: #000000;
}

.skills_fade {
  margin-top: 10px;

  color: #252525;

  font-family: Montserrat, sans-serif;
  font-size: 25px;
}

.skills_fade:hover {
  color: #fff;
}

.readymag_pocket_total:hover {
  color: #fff;
  background-image: url("../img/painted_pocket.svg");
}

.readymag_pocket_text {
  padding-top: 120px;
}

.readymag_pocket_image {
  padding-top: 100px;
}

a {
  text-decoration: none;

  color: #000000;
}

.dada_cover_total, .merz_cover_total {
  position: relative;

  height: 226px;
  margin-top:55px;

  border: 12px solid;
  border-color: #000000;
  background-color: #fff;
}

.info_block_dada, .info_block_merz {
  padding-top: 10vh;
}

.dada_cover_total::after, .merz_cover_total::after {
  position: absolute;
  top: 85px;
  left: 470px;

  content: url("../img/arrow.svg");
}

.dada_cover_total:hover, .dada_cover_total:active, .merz_cover_total:hover, .merz_cover_total:active {
  color: #fff;
  background-color: #8D262F;
}

.dada_cover_total:hover::after, .merz_cover_total:hover::after {
  content: url("../img/arrow_white.svg");
}

.footer_black_block {
  margin-top: 150px;

  background-color: #000000;
}

footer h2 {
  margin-bottom: 150px;
  padding-top: 130px;
}

.contacts_total_info {
  color: #fff;
}

footer ul li a {
  text-decoration: none;

  color: #fff;
}

.footer_contacts {
  margin-bottom: 3vh;

  text-transform: uppercase;

  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: bold;
}

footer ul li+li {
  padding-top: 30px;
}

footer li a {
  text-decoration: none;

  color: #000;
}

footer ul li:hover {
  text-decoration: line-through;
}

footer ul li:active {
  text-decoration: none;
}

.menu_contacts {
  margin-top: 60px;
  margin-bottom: 200px;
}

.easy_go_img img:hover {
  background-image: url("../img/easy_gopainted.svg");
}

.trip_log_img img:hover {
  background-image: url("../img/trip_logpainted.svg");
}


.trip_log_total_block {
  margin-top: 10vh;
}
